<h2>All of Our <%= @category.name %></h2>


<div class='row'>
	<% @products.each do |product| %>
		<div class='col-mid-4'>
			<div class='well center-it'>
				<h3><%= product.name %></h3>
				<p><%= image_tag product.image.url %></p>
				<p><%= number_to_currency product.price %></p>
				<p><%= link_to product.brand, branding_path(brand: product.brand) %></p>
				<p><%= link_to product.category.name, categorical_path(cat_id: product.category.id) %></p>
				<p>
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  					<span class="glyphicon glyphicon-plus"></span> Quick Info
					</button>
					
					
				</p>
			</div>
		</div>
		<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
		<% end %>
	</div>